Repository gardener/aws-custom-route-controller, pull requests merged in 2024-11, with the labels that each got.

#43 support dual-stack
  main.go
  pkg/updater/node_route.go
  pkg/updater/node_route_test.go
  pkg/util/utils.go
Labels: area/networking, reviewed/lgtm, needs/ok-to-test, size/s, area/ipcei

#48 update to sdk-v2
  go.mod
  go.sum
  pkg/controller/reconciler.go
  pkg/updater/ec2.go
  pkg/updater/mock_ec2.go
  pkg/updater/node_route.go
  pkg/updater/routes.go
  pkg/updater/routes_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#47 [GEP-26] Add support for workload identity
  README.md
  pkg/updater/credentials.go
  pkg/updater/ec2.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m
